/* share elemen */
 .display{
    align-items: center;
    text-align: center;
    /* margin: 0 auto; */
    display:flex;
    justify-content: space-between;
 }
 .work-fonts{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

 .button-ber{
    width: 11.25rem;
    height: 4rem;
    background-color: rgba(255, 144, 14, 1);
 }
 .hero-container{
    max-width: 90rem;
    margin: 0 auto;
 }

 /* navber */
 .nav-angcor-tag{
    list-style: none;
    gap:50px;
 }
 .nav-angcor-tag a{
    text-decoration: none;
 }
/* hero section  */
 .hero-section{
    text-align: center;
    /* margin-top: 8rem; */
 }
 .hero-title{
    margin: 0 auto;
display:flex;
justify-content: center;
color: rgba(19, 19, 19, 1);
font-family: Work Sans;
font-size: 64px;
text-align: center;
align-items: center;
height: 226px;
width: 865px; 
}

/* banner img */
.banner-img{
    width: 100%;
    margin-top: 40px;
}
.hero-paragraph{
    margin: 0 auto;
    width: 862px;
    height: 52px;
    color:rgba(114, 114, 114, 1);
}


/* Our-Features */

.Our-Features-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:76px;
    margin-top: 45px;
}
.Our-Features-image{
    display: grid;
grid-template-columns: repeat(2,1fr);
gap:10px;
margin-top: 45px;
}
.Our-Features{
margin-top: 287px;
}
.Our-Features{
   width: 468px;
   height: 106px;
}
.Quick-list{
    font-size: 45px;
    font-weight: 500;
}
.of-Our{
    font-size: 45px;
    font-weight: 700;
}
.Features{
    font-size: 45px;
    font-weight: 700;
    color:rgba(255, 144, 14, 1);
}
.our-paragraph{
font-size: 16px;
font-weight: 400;
margin-bottom: 24px;
}

.love-enjoy{
    display: flex;
    margin-top: 70px;
    background: rgba(255, 255, 255, 1);
}
.love{
    gap: 100px;
    margin-bottom: 60px;
}
.enjoy{
    margin-left: 50px;
}
.love-title{
    margin-bottom: 30px;
    font-size: 45px;
    font-weight: 700;
}
.title{
    margin-bottom: 30px;
    gap:20px;
    rgba(19, 19, 19, 1);
    font-size: 20px;
font-weight: 600;
}
.enjoy img{
width: 100%;
}
.button{
    margin-left: -100px;
    margin-top: -100px;
    color: beige;
    width: 342px;
    height: 200px;
    border-radius: 8px;
background: rgba(255, 144, 14, 1);
}
.Year {
    margin-top: 50px;
    font-size: 66px;
font-weight:700;}
.Facts-title{
font-size: 45px;
font-weight: 700;
margin-top: 130px;
}
.Facts-p{
    font-size: 16px;
font-weight: 400;
}

.card{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    box-sizing: border-box;
}
.card1{
   padding-top: 70px;
    justify-content: center;
   align-items: center;
    width: 241.83px;
height: 221.83px;
border: 1px solid rgba(255, 144, 14, 1);
}
.sponspors{
    margin-top: 180px;
    text-align: center;
}
.sponspors h1{
     font-size: 45px;
     font-weight: 700;
}
.sponspors p{
    margin: 0 auto;
    text-align: center;
    width: 542px;
height: 52px;
    font-size: 16px;
font-weight: 400;
}

.last-section-parent{
    /* width: 70px; */
    display: flex;
    gap: 80px;
    margin-left: 30px;
}
.jast-section{
     width: 80%;
    margin-top: 40px;
    height: 30px;
}
.last-foter{
  
   display: flex;
   justify-content: center;
   align-items: center;
 border:1px solid rgb(116, 105, 83);
   border-radius: 8px;
background: rgba(255, 244, 231, 1);
    max-width:1440px;
    height: 100px;
     margin-top: 100px;
}
.footer1{
rgba(66, 66, 66, 1);
   
}

@media screen and (max-width:576px) {
     .nav-angcor-tag{
        margin-bottom: 20px;
        text-align: center;
    list-style: none;
    gap:50px;
 }
   .hero-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
   }
   .display{
   display: grid;
   text-align: center;
   justify-content: center;
   }
   .hero-paragraph{
    margin: 50px 0px;
    max-width: 400px;
    display: grid;
   text-align: center;
   font-size: 16px;
}
    .hero-title{
        margin-top: 20px;
width: 50%;
 margin: 0 auto;
}
   .Our-Features-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap:76px;
    margin-top: 45px;
}
.Our-Features-image{
    display: grid;
grid-template-columns: repeat(1,1fr);
gap:10px;
margin-top: 45px;
}
   .love-enjoy{
    display: grid;
    margin-top: 70px;
}
.Year {
    margin-top: -100px;
    font-size: 40px;
font-weight:700;}
.button{
    margin: 0 auto;
    color: beige;
    width: 242px;
    height: 100px;
}
   .Facts-title{
    text-align: center;
font-size: 45px;
font-weight: 700;
margin-top: 50px;
}
   .Facts-p{
    text-align: center;
    display: grid;
    font-size: 16px;
font-weight: 400;
}
   .card{
    margin-top: 100px;
    display: grid;
    text-align: center;
    box-sizing: border-box;
    gap: 10px;
}
   .sponspors{
    margin-top: 100px;
    text-align: center;
}
 .sponspors p{
    text-align: center;
    width: 342px;
height: 52px;
    font-size: 16px;
font-weight: 400;
}
.last-section-parent{
    display: grid;
  justify-content: center;
}

   .last-foter{

   }
}
